* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  padding: 10px;
  background: rgb(43, 41, 41);
}
/* header start */
.header_wrapper {
  padding: 10px;
  border-radius: 15px;
  background-color: aqua;
}
.header {
  min-height: 80px;
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: 1fr 8fr;
}
.menu_ul {
  transition: 0.3s all ease-in-out;
  list-style-type: none;
}
.menu_li {
  float: left;
}
.menu_link {
  padding: 15px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.menu_link:hover {
  color: black;
  text-decoration: none;
}
.logo_wrapper > h1 {
  font-size: 28px;
  font-weight: bolder;
}
.fa-bars {
  cursor: pointer;
  font-size: 25px;
  display: none;
}
/* header end */

/* info */
.info {
  text-align: center;
  background: #3ec483;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
}
